<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title></title>

	{control css "screen.less", "grid.css", "jquery.plupload.queue.css", "jquery-ui.css"}
	
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	
	{control js "jquery.js", "jquery-ui.js", "jquery-timepicker.js", "grid.js", "nette.ajax.js", "tinymce/tinymce.min.js", "plupload.full.js", "plupload.cs.js", "jquery.plupload.queue.js", "fce.js"}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type} alert alert-success">{$flash->message}</div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Brand</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="{ifCurrentIn 'Homepage:default', 'Homepage:add', 'Homepage:edit', 'Homepage:preview', 'Homepage:graph'}active{/ifCurrentIn}"><a href="{plink Homepage:}">Kampaně</a></li>
						<li class="{ifCurrentIn 'Homepage:groups', 'Homepage:editGroup'}active{/ifCurrentIn}"><a href="{plink Homepage:groups}">Skupiny</a></li>
					</ul>
					
					{if $user->loggedIn}
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								{$user->identity->name} {$user->identity->surname}
		        				<a href="{link Homepage:out}" class="btn btn-default">Odhlásit</a>
		        			</div>
	      				</form>
					{else}
						{form signInForm}
							<div class="form-group">
								<div class="col-xs-5">
									{input email class => "form-control", placeholder => "email"}
								</div>
								<div class="col-xs-5">
									{input password class => "form-control", placeholder => "heslo"}
								</div>
								<button type="submit" class="btn btn-default col-xs-2">Přihlásit</button>
							</div>
						{/form}
					{/if}
				</div>
			</div>
		</div>
	</nav>
	
	{if $user->loggedIn}
		<div class="container">
			<div class="row">
				{include #content}
			</div>
		</div>
	{/if}
</body>
</html>
